<%- include('../assets/header'); %>


    <div class="container">
        <%- include('../assets/navbar'); %>

            <div class="card p-3">
                <b>Game History</b>
                <hr>

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Time</th>
                            <th scope="col" class="text-center">Score</th>
                            <th scope="col" class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0; i<data.length; i++) {%>
                            <tr>
                                <th scope="row">
                                    <%= i+1 %>
                                </th>
                                <td>
                                    <!-- <%= data[i].createdAt %> -->
                                    <%= moment(data[i].createdAt).format('DD-MM-YYYY HH:mm') %>
                                </td>
                                <td class="text-center">
                                    <% if(data[i].score==1) { %>
                                        Win
                                        <% } else if(data[i].score==-1){ %>
                                            Lose
                                            <% } else { %>
                                                Draw
                                                <% } %>
                                </td>
                                <td class="text-end">
                                    <a href="/account/history/delete/<%= data[i].id %>"
                                        onclick="return confirm('Yakin ingin menghapus?')"
                                        class="btn btn-sm btn-outline-danger">Delete</a>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
    </div>