<div class="mt-3 mb-4">
    <h2 class="text-dark">
        <%= name %>
    </h2>
    <a href="/" class="btn btn-sm btn-dark ">
        <span>HOME</span>
    </a>
    <a href="/game" class="btn btn-sm btn-dark ">
        <span>PLAY GAME</span>
    </a>
    <a href="/account/history" class="btn btn-sm btn-dark ">
        <span>HISTORY</span>
    </a>
    <a href="/account/edit" class="btn btn-sm btn-dark ">
        <span>EDIT ACCOUNT</span>
    </a>
    <a href="/logout" class="btn btn-sm btn-warning ">
        <span>LOGOUT</span>
    </a>
</div>